body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color: #f4f4f4;

    display: grid;
    grid-template-areas:
        "header"
        "section"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 70px;
}

header {
    /* grid-area: header; */
    background: linear-gradient(to right, #137dbe, #0b4c73);
    text-align: center;
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
}

#title {
    transform: skewX(-20deg);
    font-size: 40px;
}

#title a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#slash {
    color: #ffffff;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    margin-right: 10px;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
 }

 nav li {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    transform: skewX(-20deg);
 }

.navLinks {
    text-decoration: none;
    color: #137dbe;
    background-color: white;
    
}
.navLinks:hover {
    color: #0b4c73;
}

#languageSelect {
    margin-right: 50px;
    gap: 10px;
}
#languageSelect label {
    color: white;
    margin: 10px;
}

section {
    grid-area: section;
    padding: 20px;
    min-height: auto;
    align-items: stretch;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    grid-area: footer;
    text-align: center;
    background: #333;
    color: white;
}

/* INDEX */

#toolTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #474747;
}

main {
    width: 1200px;
    box-shadow: #c0c0c0 5px 5px 20px;
    padding: 30px;
    color: #7a7a7a;   
    display: flex;
    gap: 40px;

}

#coverImage {
    width: 300px;
}

#coverImage img{
    width: 100%
}

#info h3{
    font-size: 18px;
    margin-bottom: 0px;
}

#info p{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#downloadButton {
    background-color: #137dbe;
    padding: 10px 20px;
    margin-top: 10px;
    transform: skewX(-20deg);
    border: none;
    cursor: pointer;
    width: fit-content

}

#downloadButton a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#downloadButton:hover {
    background-color: #0b4c73;
}


/* CONTACT */
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}