{% extends "layout.html" %}
{% load static %}
{% block content %}
<div  id="toolTitle">
    <h1>Maya Plugin</h1>
</div>
<main>
    <div id="coverImage">
        <img  src="{% static 'img/cover2.png'%}" alt="Cover Image">
    </div>
    <div id="info">
        <h3>¿Qué es Grillo Tools?</h3>
        <p> <span style="font-weight: bold; font-style: italic;">Grillo Tools </span> 
            es una herramienta diseñada para mejorar tu flujo de trabajo en
            <span style="font-weight: bold;font-style: italic;">Rigging</span> en Autodesk Maya. 
            Con este plugin, puedes acceder a una variedad de herramientas que facilitan diferentes fases
            del proceso de rigging.
        </p>
        <h3>Activación del Plugin:</h3>
        <p>
            La activacion del plugin se realiza a través de una license key asociada a un correo electronico. 
            Las licencias se otorgan exclusivamente por contacto directo a través de nuestro formulario de contacto, 
            por correo electronico: <span style="font-weight: bold;"> contact@grillotools.com</span>
        </p>
        <div id="downloadButton">

            <a  href ="{% static 'downloads/GrilloPlugin.mll' %}" 
            download 
            class="btn btn-primary">
            Descargar Plugin
            </a>
        </div>
     
          <p>Sigue las instrucciones de instalacion <a href="/docs">aqui.</a></p>

    </div>

</main>

{% endblock %}