{% extends "layout.html" %}
{% load static %}
{% block content %}
<div  id="toolTitle">
    <h1>Maya Plugin</h1>
</div>
<main>

    <p> <span style="font-weight: bold; font-style: italic;">Grillo Tools </span> 
        es una herramienta diseñada para mejorar tu flujo de trabajo en
         <span style="font-weight: bold;font-style: italic;">Rigging</span> en Autodesk Maya. 
         Con este plugin, puedes acceder a una variedad de herramientas que facilitan diferentes fases
         del proceso de rigging.
    </p>

    <p>
        La activacion del plugin se realiza a través de una license key otorgada a un correo electronico. 
        Las licencias se otorgan exclusivamente por contacto directo a través de nuestro formulario de contacto, 
        por correo electronico. contact@grillotools.com
    </p>
    <h3>Instalación:</h3>
    <p>Descarga el archivo del plugin en el siguiente botón y sigue las instrucciones.</p>

    <a id="downloadButton" href ="{% static 'downloads/GrilloPlugin.mll' %}" 
    download 
    class="btn btn-primary">
    Descargar Plugin
    </a>


    <p>
        Instrucciones de instalación:

        <ol>
            <li>Copia 'GrilloPlugin.mll' en la carpeta de plugins de Maya. Normalmente se encuentra en:</li>
                <ul><li style="font-style: italic;">C:\Program Files\Autodesk\Maya20XX\bin\plug-ins</li></ul>
            <li>Abre Autodesk Maya.</li>
            <li>Ve a "Windows" &gt; "Settings/Preferences" &gt; "Plug-in Manager".</li>
            <li>Haz clic en "Browse" y selecciona el archivo grilloTools.mll en la carpeta donde copiaste el archivo.</li>
            <li>Marca las casillas "Loaded" y "Auto load" para activar el plugin.</li>
            <li>Aparecerá en el menu superior de Maya las herramientas 'Grillo Plugin'</li>         
        </ol>
        <img src="{% static 'img/img1.png' %}" alt="Imagen1">
    </p>
</main>

{% endblock %}