{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maya Plugin</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <header>
        
        <nav>
            <h1 id="title"><a href="{% url 'index' %}">Grillo Tools</a></h1>
            <span id="slash">/</span>
            <ul id="navLinks">
                <li><a href="{% url 'index' %}">Get Started</a></li>
                <li><a href="{% url 'docs' %}">Docs</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        
        <div id="languageSelect">
            <label for="language">Language:</label>
            <select id="language" name="language">
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="jp">日本語</option>
            </select>
        </div>
    </header>
    <section> 
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>&copy; Grillo Tools. All rights reserved.</p>
    </footer>
</body>
</html>